<div class="body">
   <div className="nav">
    <app-navbar></app-navbar>
   </div>

   <div class="chat">
     <div class="head">
      <div class="datos">
         <img src="https://ca-times.brightspotcdn.com/dims4/default/87be6da/2147483647/strip/true/crop/1970x1108+39+0/resize/1200x675!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F12%2Fa5%2F79e097ccf62312d18a025f22ce48%2Fhoyla-recuento-11-cosas-aman-gatos-top-001" alt="">
         <div class="texto">
          <p class="text1">238525223</p>
          <p class="text2">En linea</p>
         </div>

      </div>

      <div class="action">
         <i class="fa-solid fa-magnifying-glass"></i>
         <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
   </div>

   <div class="mensajes">

    <div class="card">
       <p>Lorem ipsum dolor sit 
         amet consectetur adipisicing elit. Tempora fugit provident 
         esse ipsum aliquid perspiciatis laudantium doloremque, nemo quos mollitia itaque 
         excepturi unde iusto quaerat harum reiciendis qui, obcaecati repellendus!</p>
    </div>

    <div class="card1">
      <p>Lorem ipsum dolor sit 
        amet consectetur adipisicing elit. Tempora fugit provident 
        esse ipsum aliquid perspiciatis laudantium doloremque, nemo quos mollitia itaque 
        excepturi unde iusto quaerat harum reiciendis qui, obcaecati repellendus!</p>
   </div>
   </div>

   <div class="search">
      <label for="">
         <i class="fa-solid fa-face-smile"></i>
         <i class="fa-solid fa-magnifying-glass"></i>
         <input type="text">
      </label>
   </div>


     
   </div>
</div>
