@import "/src/styles.scss";

.body{
    background-color: #075E54;
    width: 100vw;
    height: 100vh;
    @include flexCent();
    .contenido{
        background-color: white;
        border-radius: 2rem;
        padding: 1rem;
        width: 50%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include tablet(){
          width: 100%;
        }
        //head
        .header{
            margin-bottom: 1rem;
            height: 20%;
            .error{
              @include flexCent();
                font-size: 1rem;
                color: white;
                width: 30%;
                background-color: red;
                border-radius: 2rem;
            }
            p{
                @include flexCent();
                font-size: 1rem;
                color: white;
                width: 30%;
                background-color: #34B7F1;
                border-radius: 2rem;
            }
            width: 100%;
          @include flexCent();
        flex-direction: column;
        img{
          @include avatar();
        }
        }
        //form
        form{
            height: 100%;
            width: 100%;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          .error{
            color: red;
            font-weight: bold;
          }
          input::placeholder{
            color: white;
            opacity: 1; /* Firefox */
        }
          input{  
            border: 0;
            width: 100%;
            background-color: #25D366
            ;
            border-radius: 10vw;
            padding: 1rem;

          }
          button{
            background-color: #075E54;
            color: white;
            border: 0;
            width: 40%;
            height: 10%;
            border-radius: 2rem;
          }
          
      
        }
        //foot
        .foot{
            a{
                color:#075E54;
            }
        }
    }

}